[submodule "dependency/gtest"]
	path = dependency/gtest
	url = http://source.corvusoft.co.uk/gtest-dependency.git
[submodule "dependency/gcrypt"]
	path = dependency/gcrypt
	url = http://source.corvusoft.co.uk/gcrypt-dependency.git
[submodule "dependency/gpg-error"]
	path = dependency/gpg-error
	url = http://source.corvusoft.co.uk/gpg-error-dependency.git
[submodule "dependency/curl"]
	path = dependency/curl
	url = http://source.corvusoft.co.uk/libcurl-dependency.git
