[submodule "dependency/md5"]
	path = dependency/md5
	url = https://github.com/corvusoft/md5-dependency.git
[submodule "dependency/asio"]
	path = dependency/asio
	url = https://github.com/corvusoft/asio-dependency.git
[submodule "dependency/ooid"]
	path = dependency/ooid
	url = https://github.com/corvusoft/kashmir-dependency.git
[submodule "dependency/catch"]
	path = dependency/catch
	url = https://github.com/corvusoft/catch-dependency.git
