[submodule "dependency/catch"]
	path = dependency/catch
	url = http://source.corvusoft.co.uk/catch-dependency.git
[submodule "dependency/ooid"]
	path = dependency/ooid
	url = http://source.corvusoft.co.uk/ooid-dependency.git
[submodule "dependency/md5"]
	path = dependency/md5
	url = http://source.corvusoft.co.uk/md5-dependency.git
[submodule "dependency/asio"]
	path = dependency/asio
	url = http://source.corvusoft.co.uk/asio-dependency.git
